2 задание

In [1]:
import scipy.stats as stats

In [2]:
import pandas as pd

overall_data = pd.read_csv('clear_data/overall_data.csv')
overall_data

,headline_cpi,core_cpi,inf_expectation,gdp_change,year,quarter,potential_gdp,output_gap,unemployment
0,1.1,-4.1,1.5,5.7,1999,4,436612.737794,0.568069,5.8
1,0.8,3.7,2.3,4.9,2000,1,440240.419726,0.976644,5.8
2,0.6,-3.1,2.4,2.8,2000,2,443834.332802,0.899134,5.5
3,0.8,4.8,2.2,2.4,2000,3,447389.368326,0.737307,5.3
4,1.0,-3.1,2.3,2.4,2000,4,450902.911771,0.564221,5.2
...,...,...,...,...,...,...,...,...,...
92,10.7,0.0,4.8,1.2,2022,4,622687.300277,1.823821,3.9
93,10.2,14.3,3.9,0.4,2023,1,625410.985046,1.471195,4.0
94,8.4,5.2,3.5,0.0,2023,2,628133.288676,1.033333,4.2
95,6.7,3.8,3.6,-0.4,2023,3,630850.307630,0.492303,4.1
96,4.2,-0.9,3.3,-1.2,2023,4,633562.195063,-0.274195,3.8

In [3]:
minimum = overall_data.drop(columns=['year', 'quarter']).min()
maximum = overall_data.drop(columns=['year', 'quarter']).max()
median = overall_data.drop(columns=['year', 'quarter']).median()
std = overall_data.drop(columns=['year', 'quarter']).std()
mean = overall_data.drop(columns=['year', 'quarter']).mean()
skew = overall_data.drop(columns=['year', 'quarter']).apply(stats.skew)
mode = overall_data.drop(columns=['year', 'quarter']).apply(stats.mode)

statistics = pd.DataFrame({
    'min' : minimum,
    'max' : maximum,
    'median' : median,
    'mean' : mean,
    'mode' : mode.transpose()[0],
    'mode_count' : mode.transpose()[1],
    'std' : std,
    'skew' : skew
})
statistics

,min,max,median,mean,mode,mode_count,std,skew
headline_cpi,0.000000,10.700000,2.100000,2.510309,1.500000,7.0,2.124828,2.113118
core_cpi,-4.100000,14.300000,2.600000,2.131959,-0.000000,7.0,3.191772,0.528629
inf_expectation,1.500000,4.900000,2.700000,2.856701,2.200000,11.0,0.723404,0.809844
gdp_change,-59.700000,86.100000,2.400000,2.207216,2.800000,13.0,11.403465,2.657939
potential_gdp,436612.737794,633562.195063,532615.741175,542937.821606,436612.737794,1.0,52109.668635,-0.126308
output_gap,-19.841700,3.719658,0.275055,0.027802,-19.841700,1.0,2.746224,-4.205125
unemployment,3.800000,8.400000,5.200000,5.517526,5.200000,8.0,1.338377,0.830323

In [4]:
statistics.to_csv('clear_data/statistics.csv')