Спецификация 3

In [1]:
import numpy as np
import statsmodels.api as sm
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
data = pd.read_csv('clear_data/overall_data.csv')
data

,headline_cpi,core_cpi,inf_expectation,gdp_change,year,quarter,potential_gdp,output_gap,unemployment
0,1.1,-4.1,1.5,5.7,1999,4,436612.737794,0.568069,5.8
1,0.8,3.7,2.3,4.9,2000,1,440240.419726,0.976644,5.8
2,0.6,-3.1,2.4,2.8,2000,2,443834.332802,0.899134,5.5
3,0.8,4.8,2.2,2.4,2000,3,447389.368326,0.737307,5.3
4,1.0,-3.1,2.3,2.4,2000,4,450902.911771,0.564221,5.2
...,...,...,...,...,...,...,...,...,...
92,10.7,0.0,4.8,1.2,2022,4,622687.300277,1.823821,3.9
93,10.2,14.3,3.9,0.4,2023,1,625410.985046,1.471195,4.0
94,8.4,5.2,3.5,0.0,2023,2,628133.288676,1.033333,4.2
95,6.7,3.8,3.6,-0.4,2023,3,630850.307630,0.492303,4.1
96,4.2,-0.9,3.3,-1.2,2023,4,633562.195063,-0.274195,3.8

In [3]:
data['inf_t+4'] = data['headline_cpi'].shift(-4)
data

,headline_cpi,core_cpi,inf_expectation,gdp_change,year,quarter,potential_gdp,output_gap,unemployment,inf_t+4
0,1.1,-4.1,1.5,5.7,1999,4,436612.737794,0.568069,5.8,1.0
1,0.8,3.7,2.3,4.9,2000,1,440240.419726,0.976644,5.8,0.9
2,0.6,-3.1,2.4,2.8,2000,2,443834.332802,0.899134,5.5,1.5
3,0.8,4.8,2.2,2.4,2000,3,447389.368326,0.737307,5.3,1.5
4,1.0,-3.1,2.3,2.4,2000,4,450902.911771,0.564221,5.2,1.0
...,...,...,...,...,...,...,...,...,...,...
92,10.7,0.0,4.8,1.2,2022,4,622687.300277,1.823821,3.9,4.2
93,10.2,14.3,3.9,0.4,2023,1,625410.985046,1.471195,4.0,NaN
94,8.4,5.2,3.5,0.0,2023,2,628133.288676,1.033333,4.2,NaN
95,6.7,3.8,3.6,-0.4,2023,3,630850.307630,0.492303,4.1,NaN
96,4.2,-0.9,3.3,-1.2,2023,4,633562.195063,-0.274195,3.8,NaN

In [4]:
data1 = data.dropna()
data1

,headline_cpi,core_cpi,inf_expectation,gdp_change,year,quarter,potential_gdp,output_gap,unemployment,inf_t+4
0,1.1,-4.1,1.5,5.7,1999,4,436612.737794,0.568069,5.8,1.0
1,0.8,3.7,2.3,4.9,2000,1,440240.419726,0.976644,5.8,0.9
2,0.6,-3.1,2.4,2.8,2000,2,443834.332802,0.899134,5.5,1.5
3,0.8,4.8,2.2,2.4,2000,3,447389.368326,0.737307,5.3,1.5
4,1.0,-3.1,2.3,2.4,2000,4,450902.911771,0.564221,5.2,1.0
...,...,...,...,...,...,...,...,...,...,...
88,4.9,2.5,3.2,6.1,2021,4,612081.560709,2.043917,4.2,10.7
89,6.2,9.8,4.3,2.8,2022,1,614640.395796,2.360503,3.9,10.2
90,9.2,5.2,4.6,1.2,2022,2,617281.501945,2.264202,3.9,8.4
91,10.0,8.3,4.9,0.4,2022,3,619971.888540,1.936396,3.8,6.7
92,10.7,0.0,4.8,1.2,2022,4,622687.300277,1.823821,3.9,4.2

In [5]:
X = sm.add_constant(data1['inf_expectation'])
y = data1['inf_t+4']
model_spec3 = sm.OLS(y, X).fit()
print(model_spec3.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                inf_t+4   R-squared:                       0.126
Model:                            OLS   Adj. R-squared:                  0.117
Method:                 Least Squares   F-statistic:                     13.16
Date:                Mon, 25 Nov 2024   Prob (F-statistic):           0.000472
Time:                        02:09:36   Log-Likelihood:                -195.95
No. Observations:                  93   AIC:                             395.9
Df Residuals:                      91   BIC:                             401.0
Df Model:                           1
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
const              -0.3966      0.847     -0.468      0.641      -2.080       1.287
inf_expectation     1.0543      0.291      3.628      0.000       0.477       1.632
==============================================================================
Omnibus:                       51.823   Durbin-Watson:                   0.204
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              156.584
Skew:                           1.977   Prob(JB):                     9.96e-35
Kurtosis:                       7.978   Cond. No.                         13.2
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [6]:
spec3_pred = model_spec3.predict(X)
spec3_pred

0     1.184933
1     2.028412
2     2.133847
3     1.922977
4     2.028412
        ...
88    2.977326
89    4.137111
90    4.453415
91    4.769720
92    4.664285
Length: 93, dtype: float64

In [7]:
data1['spec3_pred'] = spec3_pred
data1

C:\Users\ggwpn\AppData\Local\Temp\ipykernel_10628\2735412060.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1['spec3_pred'] = spec3_pred

,headline_cpi,core_cpi,inf_expectation,gdp_change,year,quarter,potential_gdp,output_gap,unemployment,inf_t+4,spec3_pred
0,1.1,-4.1,1.5,5.7,1999,4,436612.737794,0.568069,5.8,1.0,1.184933
1,0.8,3.7,2.3,4.9,2000,1,440240.419726,0.976644,5.8,0.9,2.028412
2,0.6,-3.1,2.4,2.8,2000,2,443834.332802,0.899134,5.5,1.5,2.133847
3,0.8,4.8,2.2,2.4,2000,3,447389.368326,0.737307,5.3,1.5,1.922977
4,1.0,-3.1,2.3,2.4,2000,4,450902.911771,0.564221,5.2,1.0,2.028412
...,...,...,...,...,...,...,...,...,...,...,...
88,4.9,2.5,3.2,6.1,2021,4,612081.560709,2.043917,4.2,10.7,2.977326
89,6.2,9.8,4.3,2.8,2022,1,614640.395796,2.360503,3.9,10.2,4.137111
90,9.2,5.2,4.6,1.2,2022,2,617281.501945,2.264202,3.9,8.4,4.453415
91,10.0,8.3,4.9,0.4,2022,3,619971.888540,1.936396,3.8,6.7,4.769720
92,10.7,0.0,4.8,1.2,2022,4,622687.300277,1.823821,3.9,4.2,4.664285

In [8]:
data1[['year', 'quarter', 'spec3_pred']].to_csv('clear_data/spec3_res.csv')

In [10]:
data1[['year', 'quarter', 'spec3_pred']]

    year  quarter  spec3_pred
0   1999        4    1.184933
1   2000        1    2.028412
2   2000        2    2.133847
3   2000        3    1.922977
4   2000        4    2.028412
..   ...      ...         ...
88  2021        4    2.977326
89  2022        1    4.137111
90  2022        2    4.453415
91  2022        3    4.769720
92  2022        4    4.664285

[93 rows x 3 columns]

Спецификация 4

In [9]:
df = pd.read_csv('clear_data/overall_data.csv')
df["spec4_pred"] = df["headline_cpi"].rolling(4).mean().shift(1) 
df.dropna()[['year', 'quarter', 'spec4_pred']].to_csv('clear_data/spec4_res.csv')

In [11]:
df.dropna()[['year', 'quarter', 'spec4_pred']]

    year  quarter  spec4_pred
4   2000        4       0.825
5   2001        1       0.800
6   2001        2       0.825
7   2001        3       1.050
8   2001        4       1.225
..   ...      ...         ...
92  2022        4       7.575
93  2023        1       9.025
94  2023        2      10.025
95  2023        3       9.825
96  2023        4       9.000

[93 rows x 3 columns]