**Спецификация 1**

In [1]:
import numpy as np
import statsmodels.api as sm
import matplotlib.pyplot as plt

In [2]:
import pandas as pd
data = pd.read_csv('clear_data/overall_data.csv')

In [3]:
data

,headline_cpi,core_cpi,inf_expectation,gdp_change,year,quarter,potential_gdp,output_gap,unemployment
0,1.1,-4.1,1.5,5.7,1999,4,436612.737794,0.568069,5.8
1,0.8,3.7,2.3,4.9,2000,1,440240.419726,0.976644,5.8
2,0.6,-3.1,2.4,2.8,2000,2,443834.332802,0.899134,5.5
3,0.8,4.8,2.2,2.4,2000,3,447389.368326,0.737307,5.3
4,1.0,-3.1,2.3,2.4,2000,4,450902.911771,0.564221,5.2
...,...,...,...,...,...,...,...,...,...
92,10.7,0.0,4.8,1.2,2022,4,622687.300277,1.823821,3.9
93,10.2,14.3,3.9,0.4,2023,1,625410.985046,1.471195,4.0
94,8.4,5.2,3.5,0.0,2023,2,628133.288676,1.033333,4.2
95,6.7,3.8,3.6,-0.4,2023,3,630850.307630,0.492303,4.1
96,4.2,-0.9,3.3,-1.2,2023,4,633562.195063,-0.274195,3.8

In [4]:
data['g_t_lag1'] = data['headline_cpi'].shift(1)
data['g_t_lag2'] = data['headline_cpi'].shift(2)
data['g_t_lag3'] = data['headline_cpi'].shift(3)
data['g_t_lag4'] = data['headline_cpi'].shift(4)
data['g_t_lead4'] = data['headline_cpi'].shift(-4)

In [5]:
data['diff_t'] = data['headline_cpi'] - data['g_t_lag1']
data['diff_t1'] = data['g_t_lag1'] - data['g_t_lag2']
data['diff_t2'] = data['g_t_lag2'] - data['g_t_lag3']
data['diff_t3'] = data['g_t_lag3'] - data['g_t_lag4']
data['y_t'] = data['g_t_lead4'] - data['headline_cpi']

In [6]:
data

,headline_cpi,core_cpi,inf_expectation,gdp_change,year,quarter,potential_gdp,output_gap,unemployment,g_t_lag1,g_t_lag2,g_t_lag3,g_t_lag4,g_t_lead4,diff_t,diff_t1,diff_t2,diff_t3,y_t
0,1.1,-4.1,1.5,5.7,1999,4,436612.737794,0.568069,5.8,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,-0.1
1,0.8,3.7,2.3,4.9,2000,1,440240.419726,0.976644,5.8,1.1,NaN,NaN,NaN,0.9,-0.3,NaN,NaN,NaN,0.1
2,0.6,-3.1,2.4,2.8,2000,2,443834.332802,0.899134,5.5,0.8,1.1,NaN,NaN,1.5,-0.2,-0.3,NaN,NaN,0.9
3,0.8,4.8,2.2,2.4,2000,3,447389.368326,0.737307,5.3,0.6,0.8,1.1,NaN,1.5,0.2,-0.2,-0.3,NaN,0.7
4,1.0,-3.1,2.3,2.4,2000,4,450902.911771,0.564221,5.2,0.8,0.6,0.8,1.1,1.0,0.2,0.2,-0.2,-0.3,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92,10.7,0.0,4.8,1.2,2022,4,622687.300277,1.823821,3.9,10.0,9.2,6.2,4.9,4.2,0.7,0.8,3.0,1.3,-6.5
93,10.2,14.3,3.9,0.4,2023,1,625410.985046,1.471195,4.0,10.7,10.0,9.2,6.2,NaN,-0.5,0.7,0.8,3.0,NaN
94,8.4,5.2,3.5,0.0,2023,2,628133.288676,1.033333,4.2,10.2,10.7,10.0,9.2,NaN,-1.8,-0.5,0.7,0.8,NaN
95,6.7,3.8,3.6,-0.4,2023,3,630850.307630,0.492303,4.1,8.4,10.2,10.7,10.0,NaN,-1.7,-1.8,-0.5,0.7,NaN
96,4.2,-0.9,3.3,-1.2,2023,4,633562.195063,-0.274195,3.8,6.7,8.4,10.2,10.7,NaN,-2.5,-1.7,-1.8,-0.5,NaN

In [7]:
data = data.dropna()
data

,headline_cpi,core_cpi,inf_expectation,gdp_change,year,quarter,potential_gdp,output_gap,unemployment,g_t_lag1,g_t_lag2,g_t_lag3,g_t_lag4,g_t_lead4,diff_t,diff_t1,diff_t2,diff_t3,y_t
4,1.0,-3.1,2.3,2.4,2000,4,450902.911771,0.564221,5.2,0.8,0.6,0.8,1.1,1.0,0.2,0.2,-0.2,-0.3,0.0
5,0.9,4.8,2.1,3.6,2001,1,454374.410251,0.727504,5.1,1.0,0.8,0.6,0.8,1.5,-0.1,0.2,0.2,-0.2,0.6
6,1.5,0.0,2.1,1.6,2001,2,457804.900937,0.396479,5.0,0.9,1.0,0.8,0.6,0.9,0.6,-0.1,0.2,0.2,-0.6
7,1.5,3.1,2.2,2.0,2001,3,461197.486996,0.177476,5.1,1.5,0.9,1.0,0.8,1.0,0.0,0.6,-0.1,0.2,-0.5
8,1.0,-1.0,1.9,1.2,2001,4,464556.406028,-0.248066,5.2,1.5,1.5,0.9,1.0,1.5,-0.5,0.0,0.6,-0.1,0.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,4.9,2.5,3.2,6.1,2021,4,612081.560709,2.043917,4.2,2.8,2.1,0.6,0.5,10.7,2.1,0.7,1.5,0.1,5.8
89,6.2,9.8,4.3,2.8,2022,1,614640.395796,2.360503,3.9,4.9,2.8,2.1,0.6,10.2,1.3,2.1,0.7,1.5,4.0
90,9.2,5.2,4.6,1.2,2022,2,617281.501945,2.264202,3.9,6.2,4.9,2.8,2.1,8.4,3.0,1.3,2.1,0.7,-0.8
91,10.0,8.3,4.9,0.4,2022,3,619971.888540,1.936396,3.8,9.2,6.2,4.9,2.8,6.7,0.8,3.0,1.3,2.1,-3.3
92,10.7,0.0,4.8,1.2,2022,4,622687.300277,1.823821,3.9,10.0,9.2,6.2,4.9,4.2,0.7,0.8,3.0,1.3,-6.5

In [8]:
X = data[['diff_t', 'diff_t1', 'diff_t2', 'diff_t3']]
X = sm.add_constant(X)  # свободные члены
y = data['y_t']

In [9]:
model = sm.OLS(y, X).fit()

In [10]:
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                    y_t   R-squared:                       0.099
Model:                            OLS   Adj. R-squared:                  0.056
Method:                 Least Squares   F-statistic:                     2.300
Date:                Mon, 25 Nov 2024   Prob (F-statistic):             0.0654
Time:                        02:14:27   Log-Likelihood:                -183.45
No. Observations:                  89   AIC:                             376.9
Df Residuals:                      84   BIC:                             389.3
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.2958      0.212      1.395      0.167      -0.126       0.717
diff_t         0.7285      0.371      1.965      0.053      -0.009       1.466
diff_t1       -0.1350      0.401     -0.337      0.737      -0.932       0.662
diff_t2       -0.7716      0.404     -1.909      0.060      -1.575       0.032
diff_t3       -0.2335      0.427     -0.546      0.586      -1.083       0.616
==============================================================================
Omnibus:                       22.089   Durbin-Watson:                   0.502
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               33.794
Skew:                           1.058   Prob(JB):                     4.59e-08
Kurtosis:                       5.153   Cond. No.                         2.56
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [11]:
regression = model.predict(X)

In [12]:
regression

4     0.638884
5     0.088360
6     0.545430
7     0.245269
8    -0.508007
        ...
88    0.550491
89    0.068997
90    0.522101
91   -1.019813
92   -1.920443
Length: 89, dtype: float64

In [13]:
data['spec1_pred'] = regression
data[['year', 'quarter', 'spec1_pred']].to_csv('clear_data/spec1_pred.csv')

C:\Users\ggwpn\AppData\Local\Temp\ipykernel_20600\3308705042.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['spec1_pred'] = regression

**Спецификация 2**

In [14]:
df = pd.read_csv('clear_data/overall_data.csv')

In [15]:
df

,headline_cpi,core_cpi,inf_expectation,gdp_change,year,quarter,potential_gdp,output_gap,unemployment
0,1.1,-4.1,1.5,5.7,1999,4,436612.737794,0.568069,5.8
1,0.8,3.7,2.3,4.9,2000,1,440240.419726,0.976644,5.8
2,0.6,-3.1,2.4,2.8,2000,2,443834.332802,0.899134,5.5
3,0.8,4.8,2.2,2.4,2000,3,447389.368326,0.737307,5.3
4,1.0,-3.1,2.3,2.4,2000,4,450902.911771,0.564221,5.2
...,...,...,...,...,...,...,...,...,...
92,10.7,0.0,4.8,1.2,2022,4,622687.300277,1.823821,3.9
93,10.2,14.3,3.9,0.4,2023,1,625410.985046,1.471195,4.0
94,8.4,5.2,3.5,0.0,2023,2,628133.288676,1.033333,4.2
95,6.7,3.8,3.6,-0.4,2023,3,630850.307630,0.492303,4.1
96,4.2,-0.9,3.3,-1.2,2023,4,633562.195063,-0.274195,3.8

In [16]:
df["spec2_pred"] = df["headline_cpi"].rolling(4).mean().shift(1)

In [17]:
df

,headline_cpi,core_cpi,inf_expectation,gdp_change,year,quarter,potential_gdp,output_gap,unemployment,spec2_pred
0,1.1,-4.1,1.5,5.7,1999,4,436612.737794,0.568069,5.8,NaN
1,0.8,3.7,2.3,4.9,2000,1,440240.419726,0.976644,5.8,NaN
2,0.6,-3.1,2.4,2.8,2000,2,443834.332802,0.899134,5.5,NaN
3,0.8,4.8,2.2,2.4,2000,3,447389.368326,0.737307,5.3,NaN
4,1.0,-3.1,2.3,2.4,2000,4,450902.911771,0.564221,5.2,0.825
...,...,...,...,...,...,...,...,...,...,...
92,10.7,0.0,4.8,1.2,2022,4,622687.300277,1.823821,3.9,7.575
93,10.2,14.3,3.9,0.4,2023,1,625410.985046,1.471195,4.0,9.025
94,8.4,5.2,3.5,0.0,2023,2,628133.288676,1.033333,4.2,10.025
95,6.7,3.8,3.6,-0.4,2023,3,630850.307630,0.492303,4.1,9.825
96,4.2,-0.9,3.3,-1.2,2023,4,633562.195063,-0.274195,3.8,9.000

In [18]:
df = df.dropna()
df[['year', 'quarter', 'spec2_pred']].to_csv('clear_data/spec2_res.csv')
df[['year', 'quarter', 'spec2_pred']]

    year  quarter  spec2_pred
4   2000        4       0.825
5   2001        1       0.800
6   2001        2       0.825
7   2001        3       1.050
8   2001        4       1.225
..   ...      ...         ...
92  2022        4       7.575
93  2023        1       9.025
94  2023        2      10.025
95  2023        3       9.825
96  2023        4       9.000

[93 rows x 3 columns]