**Спецификая 1 с core CPI**

In [1]:
import numpy as np
import statsmodels.api as sm
import matplotlib.pyplot as plt

In [2]:
import pandas as pd
data = pd.read_csv('clear_data/overall_data.csv')

In [3]:
data

,headline_cpi,core_cpi,inf_expectation,gdp_change,year,quarter,potential_gdp,output_gap,unemployment
0,1.1,-4.1,1.5,5.7,1999,4,436612.737794,0.568069,5.8
1,0.8,3.7,2.3,4.9,2000,1,440240.419726,0.976644,5.8
2,0.6,-3.1,2.4,2.8,2000,2,443834.332802,0.899134,5.5
3,0.8,4.8,2.2,2.4,2000,3,447389.368326,0.737307,5.3
4,1.0,-3.1,2.3,2.4,2000,4,450902.911771,0.564221,5.2
...,...,...,...,...,...,...,...,...,...
92,10.7,0.0,4.8,1.2,2022,4,622687.300277,1.823821,3.9
93,10.2,14.3,3.9,0.4,2023,1,625410.985046,1.471195,4.0
94,8.4,5.2,3.5,0.0,2023,2,628133.288676,1.033333,4.2
95,6.7,3.8,3.6,-0.4,2023,3,630850.307630,0.492303,4.1
96,4.2,-0.9,3.3,-1.2,2023,4,633562.195063,-0.274195,3.8

In [4]:
data['g_t_lag1'] = data['core_cpi'].shift(1)
data['g_t_lag2'] = data['core_cpi'].shift(2)
data['g_t_lag3'] = data['core_cpi'].shift(3)
data['g_t_lag4'] = data['core_cpi'].shift(4)
data['g_t_lead4'] = data['core_cpi'].shift(-4)

In [5]:
data['diff_t'] = data['core_cpi'] - data['g_t_lag1']
data['diff_t1'] = data['g_t_lag1'] - data['g_t_lag2']
data['diff_t2'] = data['g_t_lag2'] - data['g_t_lag3']
data['diff_t3'] = data['g_t_lag3'] - data['g_t_lag4']
data['y_t'] = data['g_t_lead4'] - data['core_cpi']

In [6]:
data = data.dropna()
data

,headline_cpi,core_cpi,inf_expectation,gdp_change,year,quarter,potential_gdp,output_gap,unemployment,g_t_lag1,g_t_lag2,g_t_lag3,g_t_lag4,g_t_lead4,diff_t,diff_t1,diff_t2,diff_t3,y_t
4,1.0,-3.1,2.3,2.4,2000,4,450902.911771,0.564221,5.2,4.8,-3.1,3.7,-4.1,-1.0,-7.9,7.9,-6.8,7.8,2.1
5,0.9,4.8,2.1,3.6,2001,1,454374.410251,0.727504,5.1,-3.1,4.8,-3.1,3.7,3.6,7.9,-7.9,7.9,-6.8,-1.2
6,1.5,0.0,2.1,1.6,2001,2,457804.900937,0.396479,5.0,4.8,-3.1,4.8,-3.1,0.5,-4.8,7.9,-7.9,7.9,0.5
7,1.5,3.1,2.2,2.0,2001,3,461197.486996,0.177476,5.1,0.0,4.8,-3.1,4.8,3.6,3.1,-4.8,7.9,-7.9,0.5
8,1.0,-1.0,1.9,1.2,2001,4,464556.406028,-0.248066,5.2,3.1,0.0,4.8,-3.1,-1.5,-4.1,3.1,-4.8,7.9,-0.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,4.9,2.5,3.2,6.1,2021,4,612081.560709,2.043917,4.2,7.4,5.2,2.6,-1.1,0.0,-4.9,2.2,2.6,3.7,-2.5
89,6.2,9.8,4.3,2.8,2022,1,614640.395796,2.360503,3.9,2.5,7.4,5.2,2.6,14.3,7.3,-4.9,2.2,2.6,4.5
90,9.2,5.2,4.6,1.2,2022,2,617281.501945,2.264202,3.9,9.8,2.5,7.4,5.2,5.2,-4.6,7.3,-4.9,2.2,0.0
91,10.0,8.3,4.9,0.4,2022,3,619971.888540,1.936396,3.8,5.2,9.8,2.5,7.4,3.8,3.1,-4.6,7.3,-4.9,-4.5
92,10.7,0.0,4.8,1.2,2022,4,622687.300277,1.823821,3.9,8.3,5.2,9.8,2.5,-0.9,-8.3,3.1,-4.6,7.3,-0.9

In [7]:
X = data[['diff_t', 'diff_t1', 'diff_t2', 'diff_t3']]
X = sm.add_constant(X)  # свободный член
y = data['y_t']
model = sm.OLS(y, X).fit()

In [8]:
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                    y_t   R-squared:                       0.041
Model:                            OLS   Adj. R-squared:                 -0.004
Method:                 Least Squares   F-statistic:                    0.9071
Date:                Mon, 25 Nov 2024   Prob (F-statistic):              0.464
Time:                        02:20:11   Log-Likelihood:                -180.76
No. Observations:                  89   AIC:                             371.5
Df Residuals:                      84   BIC:                             384.0
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.2133      0.203      1.048      0.298      -0.191       0.618
diff_t        -0.0910      0.120     -0.760      0.449      -0.329       0.147
diff_t1       -0.1767      0.140     -1.264      0.210      -0.455       0.101
diff_t2       -0.0946      0.143     -0.662      0.510      -0.379       0.190
diff_t3        0.0242      0.122      0.198      0.844      -0.219       0.267
==============================================================================
Omnibus:                       25.362   Durbin-Watson:                   1.695
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               47.083
Skew:                           1.098   Prob(JB):                     5.97e-11
Kurtosis:                       5.806   Cond. No.                         11.0
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [9]:
regression = model.predict(X)
regression

4     0.368192
5    -0.021409
6     0.192425
7    -0.158951
8     0.683871
        ...
88    0.114289
89    0.269653
90   -0.141461
91   -0.064911
92    1.032773
Length: 89, dtype: float64

In [10]:
data['spec1_task4'] = regression
data[['year', 'quarter', 'spec1_task4']].to_csv('clear_data/spec1_task4.csv')

C:\Users\ggwpn\AppData\Local\Temp\ipykernel_3480\2236563876.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['spec1_task4'] = regression

**Спецификация 2 с core CPI**

In [11]:
df = pd.read_csv('clear_data/overall_data.csv')
df

,headline_cpi,core_cpi,inf_expectation,gdp_change,year,quarter,potential_gdp,output_gap,unemployment
0,1.1,-4.1,1.5,5.7,1999,4,436612.737794,0.568069,5.8
1,0.8,3.7,2.3,4.9,2000,1,440240.419726,0.976644,5.8
2,0.6,-3.1,2.4,2.8,2000,2,443834.332802,0.899134,5.5
3,0.8,4.8,2.2,2.4,2000,3,447389.368326,0.737307,5.3
4,1.0,-3.1,2.3,2.4,2000,4,450902.911771,0.564221,5.2
...,...,...,...,...,...,...,...,...,...
92,10.7,0.0,4.8,1.2,2022,4,622687.300277,1.823821,3.9
93,10.2,14.3,3.9,0.4,2023,1,625410.985046,1.471195,4.0
94,8.4,5.2,3.5,0.0,2023,2,628133.288676,1.033333,4.2
95,6.7,3.8,3.6,-0.4,2023,3,630850.307630,0.492303,4.1
96,4.2,-0.9,3.3,-1.2,2023,4,633562.195063,-0.274195,3.8

In [12]:
df["spec2_task4"] = df["core_cpi"].rolling(4).mean().shift(1)  
df

,headline_cpi,core_cpi,inf_expectation,gdp_change,year,quarter,potential_gdp,output_gap,unemployment,spec2_task4
0,1.1,-4.1,1.5,5.7,1999,4,436612.737794,0.568069,5.8,NaN
1,0.8,3.7,2.3,4.9,2000,1,440240.419726,0.976644,5.8,NaN
2,0.6,-3.1,2.4,2.8,2000,2,443834.332802,0.899134,5.5,NaN
3,0.8,4.8,2.2,2.4,2000,3,447389.368326,0.737307,5.3,NaN
4,1.0,-3.1,2.3,2.4,2000,4,450902.911771,0.564221,5.2,0.325
...,...,...,...,...,...,...,...,...,...,...
92,10.7,0.0,4.8,1.2,2022,4,622687.300277,1.823821,3.9,6.450
93,10.2,14.3,3.9,0.4,2023,1,625410.985046,1.471195,4.0,5.825
94,8.4,5.2,3.5,0.0,2023,2,628133.288676,1.033333,4.2,6.950
95,6.7,3.8,3.6,-0.4,2023,3,630850.307630,0.492303,4.1,6.950
96,4.2,-0.9,3.3,-1.2,2023,4,633562.195063,-0.274195,3.8,5.825

In [13]:
df = df.dropna()
df[['year', 'quarter', 'spec2_task4']]

    year  quarter  spec2_task4
4   2000        4        0.325
5   2001        1        0.575
6   2001        2        0.850
7   2001        3        1.625
8   2001        4        1.200
..   ...      ...          ...
92  2022        4        6.450
93  2023        1        5.825
94  2023        2        6.950
95  2023        3        6.950
96  2023        4        5.825

[93 rows x 3 columns]

In [14]:
df[['year', 'quarter', 'spec2_task4']].to_csv('clear_data/spec2_task4.csv')