In [95]:
import numpy as np
import statsmodels.api as sm
import matplotlib.pyplot as plt

In [96]:
import pandas as pd
data = pd.read_csv('overall_data.csv')

In [97]:
data

,headline_cpi,core_cpi,inf_expectation,gdp,year,quarter,potential_gdp,output_gap,unemployment
0,1.1,-4.1,1.5,5.7,1999,4,3.385730,68.353654,5.8
1,0.8,3.7,2.3,4.9,2000,1,3.330380,47.130344,5.8
2,0.6,-3.1,2.4,2.8,2000,2,3.268623,-14.337013,5.5
3,0.8,4.8,2.2,2.4,2000,3,3.203238,-25.075807,5.3
4,1.0,-3.1,2.3,2.4,2000,4,3.136712,-23.486755,5.2
...,...,...,...,...,...,...,...,...,...
92,10.7,0.0,4.8,1.2,2022,4,3.335138,-64.019477,3.9
93,10.2,14.3,3.9,0.4,2023,1,3.027886,-86.789462,4.0
94,8.4,5.2,3.5,0.0,2023,2,2.711156,-100.000000,4.2
95,6.7,3.8,3.6,-0.4,2023,3,2.389843,-116.737499,4.1
96,4.2,-0.9,3.3,-1.2,2023,4,2.067148,-158.050983,3.8

In [98]:
p = data['inf_expectation']
p

0     1.5
1     2.3
2     2.4
3     2.2
4     2.3
     ...
92    4.8
93    3.9
94    3.5
95    3.6
96    3.3
Name: inf_expectation, Length: 97, dtype: float64

In [100]:
data['inf_t+4'] = data['headline_cpi'].shift(-4)

In [101]:
data

,headline_cpi,core_cpi,inf_expectation,gdp,year,quarter,potential_gdp,output_gap,unemployment,inf_t+4
0,1.1,-4.1,1.5,5.7,1999,4,3.385730,68.353654,5.8,1.0
1,0.8,3.7,2.3,4.9,2000,1,3.330380,47.130344,5.8,0.9
2,0.6,-3.1,2.4,2.8,2000,2,3.268623,-14.337013,5.5,1.5
3,0.8,4.8,2.2,2.4,2000,3,3.203238,-25.075807,5.3,1.5
4,1.0,-3.1,2.3,2.4,2000,4,3.136712,-23.486755,5.2,1.0
...,...,...,...,...,...,...,...,...,...,...
92,10.7,0.0,4.8,1.2,2022,4,3.335138,-64.019477,3.9,4.2
93,10.2,14.3,3.9,0.4,2023,1,3.027886,-86.789462,4.0,NaN
94,8.4,5.2,3.5,0.0,2023,2,2.711156,-100.000000,4.2,NaN
95,6.7,3.8,3.6,-0.4,2023,3,2.389843,-116.737499,4.1,NaN
96,4.2,-0.9,3.3,-1.2,2023,4,2.067148,-158.050983,3.8,NaN

In [1]:
data1=data.dropna(subset=['inf_t+4'])

NameError: name 'data' is not defined

In [103]:
data1

,headline_cpi,core_cpi,inf_expectation,gdp,year,quarter,potential_gdp,output_gap,unemployment,inf_t+4
0,1.1,-4.1,1.5,5.7,1999,4,3.385730,68.353654,5.8,1.0
1,0.8,3.7,2.3,4.9,2000,1,3.330380,47.130344,5.8,0.9
2,0.6,-3.1,2.4,2.8,2000,2,3.268623,-14.337013,5.5,1.5
3,0.8,4.8,2.2,2.4,2000,3,3.203238,-25.075807,5.3,1.5
4,1.0,-3.1,2.3,2.4,2000,4,3.136712,-23.486755,5.2,1.0
...,...,...,...,...,...,...,...,...,...,...
88,4.9,2.5,3.2,6.1,2021,4,4.315527,41.350052,4.2,10.7
89,6.2,9.8,4.3,2.8,2022,1,4.127300,-32.159032,3.9,10.2
90,9.2,5.2,4.6,1.2,2022,2,3.893725,-69.181181,3.9,8.4
91,10.0,8.3,4.9,0.4,2022,3,3.626375,-88.969700,3.8,6.7
92,10.7,0.0,4.8,1.2,2022,4,3.335138,-64.019477,3.9,4.2

In [104]:
X = sm.add_constant(data1['inf_expectation'])
y = data1['inf_t+4']
model_spec3 = sm.OLS(y, X).fit()
print(model_spec3.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                inf_t+4   R-squared:                       0.126
Model:                            OLS   Adj. R-squared:                  0.117
Method:                 Least Squares   F-statistic:                     13.16
Date:                Sun, 24 Nov 2024   Prob (F-statistic):           0.000472
Time:                        20:56:21   Log-Likelihood:                -195.95
No. Observations:                  93   AIC:                             395.9
Df Residuals:                      91   BIC:                             401.0
Df Model:                           1
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
const              -0.3966      0.847     -0.468      0.641      -2.080       1.287
inf_expectation     1.0543      0.291      3.628      0.000       0.477       1.632
==============================================================================
Omnibus:                       51.823   Durbin-Watson:                   0.204
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              156.584
Skew:                           1.977   Prob(JB):                     9.96e-35
Kurtosis:                       7.978   Cond. No.                         13.2
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [105]:
data3=pd.DataFrame(model_spec3.predict(X))
data3

           0
0   1.184933
1   2.028412
2   2.133847
3   1.922977
4   2.028412
..       ...
88  2.977326
89  4.137111
90  4.453415
91  4.769720
92  4.664285

[93 rows x 1 columns]

In [106]:
max(model_spec3.predict(X))

4.769720194319478

In [107]:
min(model_spec3.predict(X))

1.1849326077781677