2 задание

In [1]:
import scipy.stats as stats

In [2]:
import pandas as pd

overall_data = pd.read_csv('clear_data/overall_data.csv')
overall_data

,headline_cpi,core_cpi,inf_expectation,gdp,year,quarter,output_gap,unemployment
0,1.1,-4.1,1.5,5.7,1999,4,-0.88,5.8
1,0.8,3.7,2.3,4.9,2000,1,0.46,5.8
2,0.6,-3.1,2.4,2.8,2000,2,0.46,5.5
3,0.8,4.8,2.2,2.4,2000,3,0.46,5.3
4,1.0,-3.1,2.3,2.4,2000,4,0.46,5.2
...,...,...,...,...,...,...,...,...
88,4.9,2.5,3.2,6.1,2021,4,0.53,4.2
89,6.2,9.8,4.3,2.8,2022,1,1.81,3.9
90,9.2,5.2,4.6,1.2,2022,2,1.81,3.9
91,10.0,8.3,4.9,0.4,2022,3,1.81,3.8
92,10.7,0.0,4.8,1.2,2022,4,1.81,3.9

In [3]:
minimum = overall_data.drop(columns=['year', 'quarter']).min()
maximum = overall_data.drop(columns=['year', 'quarter']).max()
median = overall_data.drop(columns=['year', 'quarter']).median()
std = overall_data.drop(columns=['year', 'quarter']).std()
mean = overall_data.drop(columns=['year', 'quarter']).mean()
skew = overall_data.drop(columns=['year', 'quarter']).apply(stats.skew)
mode = overall_data.drop(columns=['year', 'quarter']).apply(stats.mode)

statistics = pd.DataFrame({
    'min' : minimum,
    'max' : maximum,
    'median' : median,
    'mean' : mean,
    'mode' : mode.transpose()[0],
    'std' : std,
    'skew' : skew
})
statistics

                   min    max  median      mean  mode        std      skew
headline_cpi      0.00  10.70    2.00  2.301075  1.50   1.850763  2.408834
core_cpi         -4.10   9.80    2.60  1.982796 -0.00   2.960744  0.082334
inf_expectation   1.50   4.90    2.70  2.825806  2.20   0.721548  0.925751
gdp             -59.70  86.10    2.40  2.315054  2.80  11.635832  2.583780
output_gap       -4.44   2.55   -0.29 -0.797849 -4.44   1.936575 -0.335172
unemployment      3.80   8.40    5.20  5.581720  5.20   1.329347  0.802346

In [4]:
statistics.to_csv('clear_data/statistics.csv')